@using DirectScale.Disco.Extension
@using DirectScale.Disco.Extension.Services
@using WebExtension.Services
@using WebExtension.Views.Model
@inject OrderWebService OrderService


@{
    ViewBag.PageTitle = "Print Slips";

    Layout = "~/Views/Shared/_SiteOutline.cshtml";

    if (!DateTime.TryParse(ViewData["begDate"] as string, out var begDate))
    {
        begDate = DateTime.Now.Date;
    }
    if (!DateTime.TryParse(ViewData["endDate"] as string, out var endDate))
    {
        endDate = DateTime.Now.Date;
    }

    var category = ViewData["category"] ?? "Location";
    var catName = ViewData["catName"] ?? "All";
    var code = ViewData["code"] ?? "0";
    var getOrders = ViewData["getOrders"] ?? " ";   

    var countryCode = "0";
    var orders = OrderService.GetShippableOrders(begDate, endDate, code, catName, category);  

    countryCode = orders.Any() ? orders[0].BillAddress.CountryCode : "0";
}

<style>
    .input-group-btn {
        display: unset;
    }

    .dropdown-toggle.btn-default {
        background-color: white !important;
    }

    .btn {
        text-align: left !important;
    }

    .row {
        margin-right: 0 !important;
        margin-left: 0 !important;
    }

    .daterangepicker .calendar {
        max-width: 300px;
    }

    .page-toolbar {
        position: inherit;
    }

    ::-webkit-scrollbar {
        width: 0;
        height: 0;
    }

</style>

<div class="page-container">
    <div class="p-8">
        <form id="SearchFrm" method="post">
            @*<input type="hidden" name="l" value="@((int)Disco.Extensions.Abstractions.Hooks.Menu.Inventory)" />*@
            <div class="col-sm-4">
                <input type="hidden" name="id" value="Inventory/PackingSlips" />
                <input type="hidden" id="Category" value="Warehouse" name="Category">
                <input type="hidden" id="Code" value="@(code)" name="Code">
                <input type="hidden" id="CatName" value="@(catName)" name="CatName">
                <input type="hidden" id="GetOrders" value="@(getOrders)" name="GetOrders">
                <input type="hidden" id="printOption" value="0" name="printOption">
            </div>

            <div class="form-group input-group pull-left col-sm-9" style="margin-right: 15px;">
                @{
                    <div class="col-sm-3">
                        <div class="inline-block align-top w-64 sm:w-auto">

                            <select id="WarehouseLookup" name="WarehouseLookup" onchange="SetCategoryItems('@(code)', '@(catName)');">
                                <option value="0" onclick="SetCategoryItems('0', 'Select Warehouse All');" selected disabled hidden>Select Warehouse All</option>
                                @foreach (var w in (IEnumerable<ActiveCountry>)ViewData["WarehouseDetails"])
                                {
                                    <option onclick="SetCategoryItems('@(w.Code)', '@(w.Name)');" value="@(w.Code)">@(w.Name)</option>
                                }
                            </select>

                        </div>
                    </div>
                    <div class="col-sm-8">
                        @Html.Partial("Partials/DateInput", new DateInput
                        {
                            Id = "DateRangePicker",
                            Style = "min-width: 175px;",
                            Class = "btn btn-default",
                            Name = "BegDate",
                            EndName = "EndDate",
                            BegDate = begDate,
                            EndDate = endDate
                        })

                        <button class="btn btn-primary" name="Submit" onclick="submitForm(this);return false;" style="margin-left: 3px;" data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i> Loading Orders">List Orders</button>
                        <button type="button" class="btn btn-primary" id="printAll" data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i> Printing Invoices">Print Invoices</button>                       

                    </div>

                }


            </div>
        </form>
    </div>
    <div class="row">
        <table id="vendorList" class="table table-striped">
            <tr>
                <th>Date</th>
                <th>Order Number</th>
                <th>Name</th>
                <th>Address</th>
                <th>Country</th>
                <th>Notes</th>
                <th></th>
            </tr>

            @foreach (var o in orders)
            {
                <tr>
                    <td>@(o.OrderDate.ToString("d"))</td>
                    <td>@(o.OrderNumber)</td>
                    <td>@(o.Name)</td>
                    <td>
                        @(o.BillAddress.AddressLine1), @(o.BillAddress.City),
                        @(OrderService.GetCountryByCode(o.BillAddress.CountryCode)),
                        @(o.BillAddress.PostalCode)
                    </td>
                    <td>@(o.BillAddress.CountryCode)</td>
                    <td>@(o.SpecialInstructions)</td>
                    <td>
                        <button class="btn btn-primary" type="button" onclick="PrintPage('/OrderInvoice/Invoice?OrderNumber=@(o.OrderNumber)')">Print</button>
                    </td>
                </tr>
            }
        </table>
    </div>

</div>


    <div class="modal fade" id="fileDownloadModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Orders CSV File</h4>
                </div>
                <div class="modal-body">
                    <div id="fileDownloadsDiv">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <script>
        $(document).ready(function () {

            var selectedItem = '@code';

            $('#WarehouseLookup').val(selectedItem).attr("selected", "selected");

        })
    </script>
    <script type="text/javascript">

    function printExternal(url) {
        var printWindow = window.open(url,
            'Print',
            'left=200, top=200, width=1280px, height=800px, toolbar=0, resizable=0');
        printWindow.addEventListener('load',
            function () {
                printWindow.print();
                printWindow.close();
            },
            true);
    }
        $('#printAll').on('click', function () {

            $('#printOption').val("1");
            var $this = $(this);
            $this.button('loading');

            var begDate = '@begDate.ToString("M/d/yyyy")';
            var endDate = '@endDate.ToString("M/d/yyyy")';
            PrintPage('/OrderInvoice/InvoiceAll?begDate=' + encodeURIComponent(begDate) + '&endDate=' + encodeURIComponent(endDate) + '&code=@code' + '&catName=@catName' +'&category=@category');
        });

    function SetCategoy(code) {
        $("#GetOrders").val(" ");
        $('#spanCat').text(code);
        $('#CatName').val("All");
        $('#Code').val("0");
        $('#Category').val(code);
        $('#SearchFrm').submit();
    }

    function SetCategoryItems(code, name) {
        $('#CatName').val(name);
        $('#Code').val(code);
        $('#spanCatValue').text(name);
        }

        function submitForm(element)
        {
            var $this = $(element);
            $this.button('loading');
            $("#GetOrders").val("GetOrders");
            console.log($("#GetOrders").val());
            $('#SearchFrm').submit();
    }
    </script>

