@using DirectScale.Disco.Extension
@using DirectScale.Disco.Extension.Services
@using WebExtension.Services
@using WebExtension.Views.Model
@inject OrderWebService OrderService

    @{
        ViewBag.PageTitle = "Print Slips";

        Layout = "~/Views/Shared/_SiteOutline.cshtml";

        if (!DateTime.TryParse(ViewData["begDate"] as string, out var begDate))
        {
            begDate = DateTime.Now.Date;
        }
        if (!DateTime.TryParse(ViewData["endDate"] as string, out var endDate))
        {
            endDate = DateTime.Now.Date;
        }

        var category = ViewData["category"] ?? "Location";
        var catName = ViewData["catName"] ?? " ";
        var code = ViewData["code"] ?? "0";
        var getOrders = ViewData["getOrders"] ?? " ";

        var countryCode = "0";
        var orders = OrderService.GetShippableOrders(begDate, endDate, code, catName, category);
        countryCode = orders.Any() ? orders[0].BillAddress.CountryCode : "0";
        var printList = "";

    }

    <style>
        .input-group-btn {
            display: unset;
        }

        .dropdown-toggle.btn-default {
            background-color: white !important;
        }

        .btn {
            text-align: left !important;
        }

        .row {
            margin-right: 0 !important;
            margin-left: 0 !important;
        }

        .daterangepicker .calendar {
            max-width: 300px;
        }

        .page-toolbar {
            position: inherit;
        }

        ::-webkit-scrollbar {
            width: 0;
            height: 0;
        }

    </style>
    @foreach (var O in orders)
    {
        printList = printList + O.OrderNumber.ToString() + "|";
    }

    <div class="page-container">
        <div class="p-8">
            <form id="SearchFrm" method="post">
                @*<input type="hidden" name="l" value="@((int)Disco.Extensions.Abstractions.Hooks.Menu.Inventory)" />*@
                <div class="col-sm-4">
                    <input type="hidden" name="id" value="Inventory/PackingSlips" />
                    <input type="hidden" id="Category" value="Warehouse" name="Category">
                    <input type="hidden" id="Code" value="@(code)" name="Code">
                    <input type="hidden" id="CatName" value="@(catName)" name="CatName">
                    <input type="hidden" id="GetOrders" value="@(getOrders)" name="GetOrders">
                </div>

                <div class="form-group input-group pull-left col-sm-9" style="margin-right: 15px;">
                    @{
                        <div class="col-sm-3">
                            @*<select id="WarehouseLookup" name="WarehouseLookup" onchange="SetCategoryItems('@(code)', '@(catName)');" class="btn btn-default dropdown-toggle" data-toggle="dropdown" style="border-radius: 5px; margin-bottom: 3px;">
                                    <option value="0" onclick="SetCategoryItems('0', 'Select Warehouse All');">Select Warehouse All</option>
                                    @foreach (var ac in (IEnumerable<ActiveCountry>) ViewData["WarehouseDetails"])
                                    {
                                        <option onclick="SetCategoryItems('@(ac.Code)', '@(ac.Name)');" value="@(ac.Code)">@(ac.Name)</option>
                                    }

                                </select>*@

                            <div class="inline-block align-top w-64 sm:w-auto">

                                <select id="WarehouseLookup" name="WarehouseLookup" onchange="SetCategoryItems('@(code)', '@(catName)');">
                                    <option value="0" onclick="SetCategoryItems('0', 'Select Warehouse All');">Select Warehouse All</option>
                                    @foreach (var w in (IEnumerable<ActiveCountry>)ViewData["WarehouseDetails"])
                                    {
                                        <option onclick="SetCategoryItems('@(w.Code)', '@(w.Name)');" value="@(w.Code)">@(w.Name)</option>
                                    }
                                </select>

                            </div>
                        </div>
                        <div class="col-sm-8">
                            @Html.Partial("Partials/DateInput", new DateInput
                            {
                                Id = "DateRangePicker",
                                Style = "min-width: 175px;",
                                Class = "btn btn-default",
                                Name = "BegDate",
                                EndName = "EndDate",
                                BegDate = begDate,
                                EndDate = endDate
                            })

                            <button class="btn btn-primary" name="Submit" onclick="Submitform(this);return false;" style="margin-left: 3px;">List Orders</button>
                            @*<button class="btn btn-primary" name="PrintAll" onclick="Submitform(); return false;" style="margin-left: 3px;">Print All</button>*@
                            @*<button class="btn btn-primary" name="PrintAll" onclick="printExternal('other?l=0&id=Inventory/RegistrationDocument&startDate=@(begDate.ToString("d"))&endDate=@(endDate.ToString("d"))&countryCode=@(countryCode)')">Print Registration</button>
                                <button class="btn btn-primary" name="PrintAll" onclick="printExternal('other?l=0&id=Inventory/PickLists&startDate=@(begDate.ToString("d"))&endDate=@(endDate.ToString("d"))&countryCode=@(countryCode)&Code=@(code)&Name=@(catName)&Category=@(category)')">Print Pick Slips</button>*@
                            @*<button class="btn btn-primary" name="PrintAll" onclick="printExternal('other?l=0&id=Inventory/BatchPrintInvoice&startDate=@(begDate.ToString("d"))&endDate=@(endDate.ToString("d"))&countryCode=@(countryCode)&Code=@(code)&Name=@(catName)&Category=@(category)')">Print Invoices</button>*@
                            @*<button class="btn btn-primary" name="PrintAll" type="button" onclick="PrintPage('/Corporate/Other?l=0&id=InvoiceAll&OrderNumber=@printList')">Print Invoices</button>*@
                            <button class="btn btn-primary" name="PrintAll" type="button" onclick="PrintPage('/OrderInvoice/InvoiceAll?OrderNumbers=@printList')">Print Invoices</button>

                        </div>

                    }


                </div>
            </form>
        </div>
        <div class="row">
            <table id="vendorList" class="table table-striped">
                <tr>
                    <th>Date</th>
                    <th>Order Number</th>
                    <th>Name</th>
                    <th>Address</th>
                    <th>Country</th>
                    <th>Notes</th>
                    <th></th>
                </tr>

                @foreach (var O in orders)
                {
                    <tr>
                        <td>@(O.OrderDate.ToString("d"))</td>
                        <td><a href="/Corporate/CRM/OrderDetail?order=@(O.OrderNumber)&id=@(O.AssociateId)">@(O.OrderNumber)</a></td>
                        <td><a href="/Corporate/CRM/Detail?id=@(O.AssociateId)">@(O.Name)</a></td>
                        <td>
                            @(O.BillAddress.AddressLine1), @(O.BillAddress.City),
                            @(OrderService.GetCountryByCode(O.BillAddress.CountryCode)),
                            @(O.BillAddress.PostalCode)
                        </td>
                        <td>@(O.BillAddress.CountryCode)</td>
                        <td>@(O.SpecialInstructions)</td>
                        <td>
                            <button class="btn btn-default" type="button" onclick="PrintPage('/OrderInvoice/Invoice?OrderNumber=@(O.OrderNumber)')">Print</button>
                            <button class="btn btn-default" type="button" onclick="printInvoice('@(O.OrderNumber)');">PrintPPPP</button>
                        </td>
                        @*<td><button class="btn btn-default" type="button" onclick="PrintPage('/Corporate/Other?l=0&id=Invoice&OrderNumber=@(O.OrderNumber)')">Print</button></td>*@
                    </tr>
                    printList = printList + O.OrderNumber.ToString() + "|";
                    ViewData["printListData"] = printList;
                }
            </table>
        </div>
        @*<iframe id="dialog" src="about:blank"></iframe>*@
    </div>

    <div class="modal fade" id="fileDownloadModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Orders CSV File</h4>
                </div>
                <div class="modal-body">
                    <div id="fileDownloadsDiv">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>



<script>
        $(document).ready(function () {

            var selectedItem = '@code';

            $('#WarehouseLookup').val(selectedItem);

        })
    </script>
    <script type="text/javascript">


        function downLoadCsv(start, end, country, catName, category, language) {
            var test = "";
            if (country === "") {
                alert("Please Select a Country.");
            } else {
                $.ajax({
                    url: '/Command/ClientAPI/orders/getorderscsv',
                    dataType: "json",
                    type: "POST",
                    data: JSON.stringify({ begin: start, end: end, Code: country, Name: catName, Category: category }),
                    success: function (r) {
                        if (r.Status === 0) {
                            $("#fileDownloadsDiv").append("<div><a href='/Corporate/DownloadTempFile?fileName=" +
                                r.Data +
                                "'>" +
                                r.Data +
                                "</a></div>");
                            showModal = true;
                            if (showModal) {
                                $('#fileDownloadModal').modal('show');
                            }
                        } else {
                            alert(r.Message);
                        }
                    },
                    contentType: "application/json; charset=utf-8",
                });
            }
        }

        function printExternal(url) {
            var printWindow = window.open(url,
                'Print',
                'left=200, top=200, width=1280px, height=800px, toolbar=0, resizable=0');
            printWindow.addEventListener('load',
                function () {
                    window.frames["printf"].focus();
                    window.frames["printf"].print();
                    var newWin = window.frames['printf'];
                    printWindow.print();
                    printWindow.close();
                },
                true);
        }
        $("#dialog").dialog({
            autoOpen: false,
            modal: true,
            title: "View Details"
        });

        function printInvoice(orderNumber) {
            
            $('#ReportFrame').attr('src', 'https://vidafy.corpadmin.directscalestage.com/Corporate/Other?l=8&id=Order%20Invoice&OrderNumber=226332');
            window.frames["ReportFrame"].focus();
            try {
                window.frames["ReportFrame"].print();
            }
            catch(e){
                window.print();
            }
            //$('#dialog').dialog('open');

            //$.ajax({
            //    type: "POST",
            //    url: "/OrderInvoice/Invoice",
            //    data: '{orderNumber: "' + orderNumber + '" }',
            //    contentType: "application/json; charset=utf-8",
            //    dataType: "html",
            //    success: function (response) {
            //        alert(response);
            //        $('#dialog').html(response);
            //        $('#dialog').dialog('open');
            //    },
            //    failure: function (response) {
            //        alert(response.responseText);
            //    },
            //    error: function (response) {
            //        alert(response.responseText);
            //    }
            //});
        }

        $('#print').click(function () {


            //$('#ReportFrame').attr('src', 'https://vidafy.corpadmin.directscalestage.com/Corporate/Other?l=8&id=Order%20Invoice&OrderNumber=226332');
            ////window.frames["ReportFrame"].focus();
            ////try {
            ////    window.frames["ReportFrame"].print();
            ////}
            ////catch(e){
            ////    window.print();
            ////}
            
            //setTimeout(function () {
            //    $('#ReportFrame').get(0).contentWindow.focus();
            //    window.print();
            //    //$("#ReportFrame").get(0).contentWindow.print();
            //}, 500);

        });

        function SetCategoy(code) {
            $("#GetOrders").val(" ");
            $('#spanCat').text(code);
            $('#CatName').val("All");
            $('#Code').val("0");
            $('#Category').val(code);
            $('#SearchFrm').submit();
        }

        function SetCategoryItems(code, name) {
            $('#CatName').val(name);
            $('#Code').val(code);
            $('#spanCatValue').text(name);
        }
        function Submitform() {
            $("#GetOrders").val("GetOrders");
            console.log($("#GetOrders").val());
            $('#SearchFrm').submit();

        }
    </script>

