@using DirectScale.Disco.Extension.Services
@using Disco.Extensions.Abstractions.UI
@using Disco.Data.Extensibility.Data.SQL
@using WebExtension.Services
@using WebExtension.Views.Model

@{
    ViewBag.PageTitle = "Print Slips";
    Layout = ViewBag.Layout;
    var WarehouseDetails = ViewData["WarehouseDetails"];

    var sku = ViewData["sku"] as int?;
    var begDate = new DateTime(1900, 1, 1);
    if (!DateTime.TryParse(ViewData["begDate"] as string, out begDate))
    {
        begDate = DateTime.Now.Date;
    }
    var endDate = DateTime.Today.AddDays(1);
    if (!DateTime.TryParse(ViewData["endDate"] as string, out endDate))
    {
        endDate = DateTime.Now.Date;
    }

    object category = ViewData["category"] ?? "Location";
    object catName = ViewData["catName"] ?? " ";
    object code = ViewData["code"] ?? "0";
    var getOrders = ViewData["getOrders"] ?? " ";
}
<style>
    .input-group-btn {
        display: unset;
    }
</style>
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">

        </h1>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <form id="SearchFrm" method="post">
            <input type="hidden" name="l" value="@((int)Disco.Extensions.Abstractions.Hooks.Menu.Inventory)" />
            <input type="hidden" name="id" value="Inventory/PackingSlips" />
            <input type="hidden" id="Category" value="Warehouse" name="Category">
            <input type="hidden" id="Code" value="@(code)" name="Code">
            <input type="hidden" id="CatName" value="@(catName)" name="CatName">
            <input type="hidden" id="GetOrders" value="@(getOrders)" name="GetOrders">
            <div class="form-group input-group pull-left" style="margin-right: 15px;">
                <div class="input-group-btn">
                    <a href="#" class="btn btn-default dropdown-toggle" data-toggle="dropdown" style="border-radius: 5px;margin-bottom: 3px;">
                        Select @(category) <span id="spanCatValue"> @(catName) </span><span class="caret" style="margin-left: 5px;"></span>
                    </a>

                    @{
                        <div class="inline-block align-top w-64 sm:w-auto">
                            <select id="WearhouseLookup" name="WearhouseLookup" onchange="SetCategoryItems('0', 'All');">
                                <option value="-1" onchange="SetCategoryItems('0', 'All');">All</option>
                                @foreach (var AC in ViewData["WarehouseDetails"] as IEnumerable<WebExtension.Views.Model.ActiveCountry>)
                                {
                                <option onchange="SetCategoryItems('@(AC.Code)', '@(AC.Name)');" value="@(AC.Code)">@(AC.Name)</option>
                                }
  
                            </select>

                        </div>

                    }


                </div>


                @Html.Partial("Partials/DateInput", new DateInput
                {
                    Id = "DateRangePicker",
                    Style = "min-width: 175px;",
                    Class = "btn btn-default",
                    Name = "BegDate",
                    EndName = "EndDate",
                    BegDate = begDate,
                    EndDate = endDate
                })


                <button class="btn btn-primary" name="Submit" onclick="Submitform(); return false;" style="margin-left: 3px;">List Orders</button>



            </div>
        </form>
    </div>


    <div class="row">
        <div class="col-sm-12">
            <div class="table-responsive">
                <table id="vendorList" class="table table-striped">
                    <tr>
                        <th>Date</th>
                        <th>Order Number</th>
                        <th>Name</th>
                        <th>Address</th>
                        <th>Country</th>
                        <th>Notes</th>
                        <th></th>
                    </tr>
                    @{
                        var countryCode = "0";
                        var orders = new Disco.Extensions.Abstractions.Orders.OrderInfo[] { };
                        if (getOrders == "GetOrders")
                        {


                            orders = WebExtension.Utilities.OrderSearch.GetShippableOrders(begDate, endDate, code, catName, category);

                            countryCode = orders.Any() ? orders[0].BillAddress.CountryCode : "0";
                        }
                    }
                    @foreach (var O in orders)
                    {
                        <tr>
                            <td>@(O.OrderDate.ToString("d"))</td>
                            <td><a href="/Corporate/CRM/OrderDetail?order=@(O.OrderNumber)&id=@(O.AssociateId)">@(O.OrderNumber)</a></td>
                            <td><a href="/Corporate/CRM/Detail?id=@(O.AssociateId)">@(O.Name)</a></td>
                            <td>@(O.BillAddress.Line1), @(O.BillAddress.City) @(Disco.Extensions.ServiceLocator.Instance.CountryService.GetStateName(O.BillAddress.CountryCode, O.BillAddress.State)) @(O.BillAddress.Zip)</td>
                            <td>@(O.BillAddress.CountryCode)</td>
                            <td>@(O.SpecialInstructions)</td>
                            <td><button class="btn btn-default" type="button" onclick="PrintPage('/Corporate/Other?l=0&id=Inventory/Invoice&OrderNumber=@(O.OrderNumber)')">Print</button></td>
                        </tr>
                    }
                </table>
            </div>
        </div>
    </div>
    <div class="modal fade" id="fileDownloadModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Orders CSV File</h4>
                </div>
                <div class="modal-body">
                    <div id="fileDownloadsDiv">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <script>
        function downLoadCsv(start, end, country, CatName, Category, language) {
            var test = "";
            if (country === "") {
                alert("Please Select a Country.");
            } else {
                $.ajax({
                    url: '/Command/ClientAPI/orders/getorderscsv',
                    dataType: "json",
                    type: "POST",
                    data: JSON.stringify({ begin: start, end: end, Code: country, Name: CatName, Category: Category }),
                    success: function (r) {
                        if (r.Status === 0) {
                            $("#fileDownloadsDiv").append("<div><a href='/Corporate/DownloadTempFile?fileName=" +
                                r.Data +
                                "'>" +
                                r.Data +
                                "</a></div>");
                            showModal = true;
                            if (showModal) {
                                $('#fileDownloadModal').modal('show');
                            }
                        } else {
                            alert(r.Message);
                        }
                    },
                    contentType: "application/json; charset=utf-8",
                });
            }
        }

        function printExternal(url) {
            var printWindow = window.open(url,
                'Print',
                'left=200, top=200, width=1280px, height=800px, toolbar=0, resizable=0');
            printWindow.addEventListener('load',
                function () {
                    printWindow.print();
                    printWindow.close();
                },
                true);
        }

        function SetCategoy(code) {
            $("#GetOrders").val(" ");
            $('#spanCat').text(code);
            $('#CatName').val("All");
            $('#Code').val("0");
            $('#Category').val(code);
            $('#SearchFrm').submit();
        }

        function SetCategoryItems(Code, Name) {
            $('#CatName').val(Name);
            $('#Code').val(Code);
            $('#spanCatValue').text(Name);
            // $('#SearchFrm').submit();
        }
        function Submitform() {
            $("#GetOrders").val("GetOrders");
            console.log($("#GetOrders").val());
            $('#SearchFrm').submit();
        }
    </script>
</div>
