@using WebExtension.Models;

@{
    ViewData["Title"] = "EWalletSettings";
}

@{
    WebExtension.Models.EWalletSettingModel ewalletSettingModel = ViewBag.Message;
}

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<div class="ewalletsettingscontainer">
    <div class="row">
        <div class="col-sm-6">
            <div class="panel panel-primary">
                <div class="panel-heading">E-Wallet</div>
                <div class="panel-body">
                    <form id="EWallet-Settings">
                        <div class="form-group inputPanel">
                            <label>Company Id</label>
                            <input type="text" id="CompanyId" name="CompanyId" value="@ewalletSettingModel.CompanyId" class="form-control" autocomplete="off">
                        </div>
                        <div class="form-group inputPanel">
                            <label>Point Account Id</label>
                            <input type="text" id="PointAccountId" name="PointAccountId" value="@ewalletSettingModel.PointAccountId" class="form-control" autocomplete="off">
                        </div>
                        <div class="form-group inputPanel">
                            <label>Username</label>
                            <input type="text" id="Username" name="Username" value="@ewalletSettingModel.Username" class="form-control" autocomplete="off">
                        </div>
                        <div class="form-group inputPanel">
                            <label>Password</label>
                            <input type="text" id="Password" name="Password" value="@ewalletSettingModel.Password" class="form-control" autocomplete="off">
                        </div>
                        <div class="form-group inputPanel">
                            <label>Backup Merchant Id</label>
                            <input type="text" id="BackupMerchantId" name="BackupMerchantId" value="@ewalletSettingModel.BackupMerchantId" class="form-control" autocomplete="off">
                        </div>
                        <div class="form-group inputPanel">
                            <label>Merchant Url</label>
                            <input type="text" id="ApiUrl" name="ApiUrl" value="@ewalletSettingModel.ApiUrl" class="form-control" autocomplete="off">
                        </div>
                        <div class="form-group inputPanel">
                            <label>Allow Split Payment</label><br />
                            <select id="SplitPayment" name="SplitPayment">
                                <option value="false" selected>No</option>
                                <option value="true">Yes</option>
                            </select>
                            <p class="help-block">Enable to split remaining balance of E-Wallet with a backup Merchant for AutoShips.</p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-10 col-md-9">
            <button id="Ewallet-save" class="btn btn-primary">Save Changes</button>
            <button id="Ewallet-spinner" class="btn btn-primary disabled" style="display:none;"><i class="fa fa-spin fa-spinner"></i>&nbsp;&nbsp;Saving Changes</button>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        var model = @Html.Raw(Json.Serialize(ewalletSettingModel));
        if (model.status == true) {
            document.getElementById("SplitPayment").value = model.SplitPayment;
        }

        $('#Ewallet-save').click(function () {
            $('#Ewallet-save').hide();
            $('#Ewallet-spinner').show();
            var EWalletSettings = $("#EWallet-Settings").serialize().split("&");
            var EWalletSettingsObj = {};
            for (var key in EWalletSettings) {
                EWalletSettingsObj[EWalletSettings[key].split("=")[0]] = EWalletSettings[key].split("=")[1];
            }
            EWalletSettingsObj.ApiUrl = decodeURIComponent(EWalletSettingsObj.ApiUrl);
            EWalletSettingsObj.SplitPayment = EWalletSettingsObj.SplitPayment == 'false' ? false : true;

            $.ajax({
                type: "POST",
                contentType: "application/json",
                url: "/api/Ewallet/UpdateEwalletSettings",
                data: JSON.stringify(EWalletSettingsObj),
                dataType: "json",
                complete: function (resp) {
                    var output = resp.responseJSON;
                    $('#Ewallet-spinner').hide();
                    $('#Ewallet-save').show();
                }
            })
        });

        //$('#Ewallet-save').click(function() {
        //    $('#Ewallet-save').hide();
        //    $('#Ewallet-spinner').show();

        //    $.post('/Command/ClientAPI/Merchants/Ewallet/UpdateEwalletSettings', EWalletSettings, function () {
        //    });
        //});

    </script>

}